[submodule "stylegan2-ada-pytorch"]
	path = dependencies/stylegan2_ada_pytorch
	url = git@github.com:NVlabs/stylegan2-ada-pytorch.git
[submodule "stylegan2"]
	path = dependencies/stylegan2
	url = git@github.com:NVlabs/stylegan2.git
[submodule "stylegan2_pytorch"]
	path = dependencies/stylegan2_pytorch
	url = git@github.com:rosinality/stylegan2-pytorch.git
